.page-root > .head, .page-root > .centerblock-wrapper, .bar__addition {
  transform: translateZ(0);
  transition: filter 1s;
}

html.ymph-opened {
  overflow: hidden !important;
}

html.ymph-opened .page-root > .head,
html.ymph-opened .page-root > .centerblock-wrapper,
html.ymph-opened .bar__addition {
  overflow: hidden;
  filter: blur(50px);
  /*opacity: 0.2;*/
}

/*native add-to-playlist popup*/
html.ymph .d-addition__popup {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  box-shadow: none;
  border: none;
  position: fixed;
  background: rgba(255, 255, 255, 0.4);
  opacity: 0;
  /*display: flex !important;*/
  align-items: center;
  /*justify-content: center;*/
  transform: translateZ(0) scale(1);
  transition: opacity 1s .2s, transform .4s .2s;
}

html.ymph .d-addition__popup.popup {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  bottom: 0;
  opacity: 1;
  padding: 0;
}

html.ymph .d-addition__popup.popup_hidden {
  visibility: hidden !important;
  opacity: 0 !important;
  transform: translateZ(0) scale(1.5);
}

/*popup scrollbars*/
.d-addition__popup ::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}
.d-addition__popup ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.d-addition__popup ::-webkit-scrollbar-thumb {
  background: #ffcc00;
  border: none;
  border-radius: 5px;
}
.d-addition__popup ::-webkit-scrollbar-thumb:hover, .d-addition__popup ::-webkit-scrollbar-thumb:active {
  background: #ffcc00;
}
.d-addition__popup ::-webkit-scrollbar-track {
  background: rgb(210, 210, 210);
  border: none;
  border-radius: 5px;
}
.d-addition__popup ::-webkit-scrollbar-track:hover, .d-addition__popup ::-webkit-scrollbar-track:active {
  background: rgb(175, 175, 175);
}
.d-addition__popup ::-webkit-scrollbar-corner {
  background: transparent;
}

/*list of playlists container*/
.d-addition__content {
  width: 100%;
  position: absolute !important;
  height: 100% !important;
  display: flex !important;
  justify-content: center;
}

/*native search&create inputs*/
.d-addition__actions {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  height: 40px;
}

.d-addition__actions .d-input__field {
  width: 215px;
  background-color: #eaeaea;
}

/*native list title and auth notices*/
.d-addition__notice {
  position: relative;
  float: left;
  height: 40px;
}

/*playlists list*/
.d-addition__playlists {
  margin-top: 40px;
  padding: 10px;
  /*width: 100%;*/
  /*height: auto !important;*/
  /*max-height: calc(95% - 135px);*/
}

.d-addition__playlists .d-addition__item_playlist {
  display: inline-block;
  margin: 10px 15px;
  border-radius: 2px;
  border: solid 1px rgb(130, 130, 130);
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  color: #2d2d2d;
  overflow: visible;
  opacity: 1;
  transition: opacity .2s, transform 1s;
}